body {

  background-size: contain;
  background-repeat: no-repeat;
}

.todo{
  text-align:center;
}
.texto{
  display: inline-table;
  -webkit-text-stroke: 1.5px #923b3d;
  color: #ff81e3; 
}
.origen{
  display: flex;
  justify-content: center;
 
 
}
.destino{
  display: flex;
  justify-content: center;
}
.box {
  border: 5px solid 	#ff81e3;
  background-color:#fc9fff;
  height: 279px;
  width: 260px;
}
    

.rangos{
  display: flex;
  justify-content: center;
}

#letraNodo{
  margin-left: 20px;
}


#net{
  margin-left: 20px;
}


#cloud {
display: none;

}

#imagesrchide {
display: none;
}

@media screen and (max-width: 600px) {
  .todo{
      width: 100%;
      height: 100%;
  }
}